

{{ define "main" }}
<style>

    h1 { 
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
    } 
    h4 { 
        text-align: center;
        font-size: 20px;
        font-family: sans-serif;
    } 

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
</style>

  <h1>{{ .Title }}</h1>
   <h1 class="font-extrabold">Contact Email</h1>
   <h4 class="font-extrabold">for inquiries</h4>
   <br>
  {{ .Content }} 
  <br>
  <div align="center"><iframe src="https://giphy.com/embed/aOften89vRbG" width="300" height="300" style="text-align: center" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/deal-with-it-sunglasses-email-aOften89vRbG"></a></p></div>
  <br>
  {{ end }}
