name: GitHub Pages

on:
  push:
    branches:
      - main  # Make sure this matches your default branch name

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # We don't need submodules: true if using Hugo Modules
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.155.0'
          extended: true # Vital for Congo's image processing

      - name: Install Dependencies
        # This downloads the theme and syncs your go.mod/go.sum
        run: |
          hugo mod get -u
          hugo mod tidy

      - name: Build
        # This runs the actual site generation
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public